body
{
	
    font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;	
	
}


.sensor
{
	background:red;
	width:100px;
	height:100px;
	margin:10px;
	float:left;
	padding:0px 5px 0px 25px;

	border-radius:20px;
	  transition: all 0.5s ease;
}

.sensor:hover 
{
	
	
	  transition: all 0.5s ease;
	  cursor:pointer;
	  color:white;
	  border-radius:30px;
}

.panel
{
	height:400px;
	width:200px;
	margin:150px;

}

.centr
{
	text-align:center;
}


.right
{
	text-align:right;
}



.all
{
	
	
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	padding:50px 50px 10px 50px;
}



.device
{
	
	height:80px;
	width:200px;
	margin:10px;
	float:left;
		transition:1s all;
}

.device:hover
{

	transition:1s all;
	cursor:pointer;
	background:blue;
	color:white;
}

.name
{

}

.censia
{
	font-size:90px;
	cursor:pointer;
	transition:1s all;
}


.censia:hover
{
	color:red;
	transition:1s all;
	
}


.polo
{
	
	margin:50px;
}

.dop
{
	
	padding:100px 0px 0px 0px;
}


.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}


.menu
{
	padding:10px;
	transition:1s all;

	
}
.menu a
{
	text-decoration:none;
	color:black;
	transition:1s all;
}

.menu:hover a
{
	text-decoration:none;
	transition:1s all;
	color:red;
}

.menu:hover
{
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	transition:1s all;
	cursor:pointer;
}


.stil a
{
	text-decoration:none;
	background:red;
}	
   
.poscentr
{
 
	transition:1s all;

	padding:50px 20px 20px 400px;
}	


.poscentr input
{
	font-size:20px;
	margin:10px;

}


.knopka
{
	cursor:pointer;
}

.results
{

}

.regknp
{
	cursor:pointer;
	padding:20px;
	color:blue;
	transition:1s all;
}

.regknp:hover
{
	color:red;
	transition:1s all;
}